*, html, body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* CARRUCEL DE LA PAGINA */
    .carousel-inner{
        background-color: black;
        max-height: 600px;
    }

    .carousel-item >img{
        opacity: 0.3;
        max-height: 600px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .titulo {
        color:white;
        padding: 0px 40px;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
    }

    .titulo p{
        font-size: 30px;
        font-weight: bold;
    }
/* FIN CARRUCEL PAGINA */
/* INICIO ACORDION Y IMAGEN */
    #lenguajes-programacion{
        padding: 20px;
        background-color: antiquewhite;
    }

    #image-representative img{
        border-radius: 3px;
        width: 100%;
    }
    .accordion{
        height: 100%;
    }

    .accordion-button{
        background-color: antiquewhite;
    }
/* FIN ACORDION Y IMAGEN */
/* INICIO MISION Y VISION */
    #mision-vision{
        background-size: cover;
        display: flex;
        position: relative;
        max-width: 100%;
        height: 400px;
        background-color: black !important;
    }
    #mision-vision img{
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        opacity: 0.3;
        object-position: 50% 50%;
    }

    #mision-vision .mision-vision-text{
       position: absolute;
       display: flex;
       width: 100%;
       justify-content: center;
       align-items: center;
    }

    #mision-vision .mision-vision-text .text-contenido{
        margin: 50px;
        text-align: center;
        color: white;
        padding: 50px;
    }

    #mision-vision .mision-vision-text .text-contenido p{
        font-size: 30px;
        font-weight: bold;
    }
/* FIN MISION Y VISION */

/* FOTTER */

footer{
    background-color: black;
    width: 100%;
    bottom: 0;
}