.titulos{
    padding: 20px;
}
/* PROGRAMAS */
.contenido-programas{
    background-color: antiquewhite;
}

.cards-lenguajes{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.cards-lenguajes .card{
    min-width: 300px;
}
.cards-lenguajes .card img{
    padding: 15px;
}

/* FIN PROGRAMAS */

/* FRAMEWORKS */
.frameworks{
    background-color: antiquewhite;
    padding: 0px;
}

.ratio iframe{
    padding: 50px;
}

.info-frameworks{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.ratio{
    width: 50%;
}
.info{
    text-align: center;
    width: 50%;
    padding: 40px;
}
/* FIN FRAMEWORKS */
